<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
</head>

<body>
    <h1>User Profile</h1>
    <ul>
        <li><strong>아이디:</strong>
            <%= user.userid %>
        </li>
        <li><strong>닉네임:</strong>
            <%= user.nickname || '없음' %>
        </li>
        <li><strong>생년월일:</strong>
            <%= user.birthdate || '없음' %>
        </li>
        <li><strong>성별:</strong>
            <%= user.gender || '없음' %>
        </li>
        <div>
            <img src="<%= user.top5Champions[0].iconUrl  %>">
        </div>
        <div>
            <img src="<%= user.top5Champions[0].loadingUrl  %>">
        </div>
    </ul>
    <a href="/">홈으로</a>
    <a href="/userprofile.html">내 정보 수정</a>
</body>

</html>